@model IEnumerable<ODHDEVELOPERS.Models.Installmenttab>
@using ODHDEVELOPERS.Models;
@{
    UsersContext db = new UsersContext();
    var mr = db.Members.Single(m => m.Id == 1);   
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "DeleteReciept";
    var a = 0;
}
<link rel="stylesheet" href="~/Content/jquery-ui.css" />

<script type="text/javascript">
    $(document).ready(function () {
        $("#BondId").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Branch/AutoCompleteBondId",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.name, value: item.newbondid };
                        }))

                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });
    })
</script>



<div class="page-content">

                <div class="container">

                    <div class="page-toolbar">
                        
                        <div class="page-toolbar-block">
                            <div class="page-toolbar-title">Cancel Receipt</div>
                            <div class="page-toolbar-subtitle"> </div>
                        </div>
                        
                        <div class="page-toolbar-block pull-right">
                            
                        </div>           
                        
                    </div>  

                           <div class="row" >
                                @using (Html.BeginForm())
               {   
                        <div class="col-md-6" style="width:100%">
                            
                            <div class="block" >
                               
                                <div class="block-content controls">
                                     
                                          <input type="hidden" value="@System.DateTime.Now.Date" name="date" />
                                   
                                   <div class="row-form">  
                                         
                                    <div class="col-md-9">
                                      <div class="input-group">
                                    <span class="input-group-addon"><label class="width">@mr.custname Id or Name</label></span>  
                                    <input type="text"  class="form-control"  name="newbondid" id="BondId" ></div>
                                   
                                        </div>
                                   </div>
                                   <div class="page-toolbar-block pull-right">
                            <div class="widget-info widget-from">
                                                          
                                <button type="submit"  class="btn btn-primary"  id="search"><i class="fa fa-search"></i> Search</button>                            
                               
                            </div>
                        </div>  
                                     
                                 
                                </div>
                                
                            </div>
                            </div>
                                }
                               <div class="col-md-6" style="width:100%">
                                   
                                  
               <table id="rd" border="1" style="margin-left:1%; margin-right:1px; width:98%;">
    @foreach(var item in Model){
        if(a==0)
        {
         <tr >
                                <th  colspan="11" style="text-align:center;font-size:large;height:50px;"><b>Renewal-List </b>

                                </th>
                            
                
                         </tr>
    
                   

         <tr style="font-size:medium;height:40px;">
          <th style="width:10%;text-align:center;">
           <label id="ii"><b>Install</b></label>
            </th>
        <th style="width:10%;text-align:center;">
           <label id="cc"><b>@mr.custname Id</b></label>
            </th>
             <th style="width:10%;text-align:center;">
           <label id="sn"><b>Amount</b></label>
            </th>
        <th style="width:10%;text-align:center;">
           <label id="pp "><b>@mr.planname Name</b></label>
            </th>
             <th style="width:10%;text-align:center;">
           <label id="gg"><b>Receipt No</b></label>
            </th>
        <th style="width:5%;text-align:center;">
           <label id="kk"><b>Year</b></label>
            </th>
             <th style="width:5%;text-align:center;">
           <label id="mm"><b>Mode</b></label>
            </th>
        <th style="width:10%;text-align:center;">
           <label id="vv "><b>Payment Date</b></label>
            </th>
            
             <th style="width:10%;text-align:center;">
           <label id="ccc"><b>Expiry Date</b></label>
            </th>

        <th style="width:10%;text-align:center;">
           <label id="zz"><b>@mr.branchname Code</b></label>
            </th>
            
        <th style="width:10%;text-align:center;">
           <label id="action"><b>Action</b></label>
            </th>
        
 
      
    </tr>
                    }
                        a = a + 1;
         <tr style="text-align:center;">
        
        <td>
            @Html.DisplayFor(modelItem => item.installmentno)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.newbondid)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.amount)
        </td>
             <td>
            @Html.DisplayFor(modelItem => item.planname)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.receiptno)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.year)
        </td>
             <td>
            @Html.DisplayFor(modelItem => item.mode)
        </td>
        
        <td>
            @Convert.ToDateTime(item.paymentdate).ToString("dd/MM/yyyy")
        </td>
        
        <td>
            @Convert.ToDateTime(item.expirydate).ToString("dd/MM/yyyy")
        </td>
              <td>
            @Html.DisplayFor(modelItem => item.branch)
        </td>
       
        <td>
            @Html.ActionLink("Cancel", "DeleteReciept", new { newbondid = item.newbondid, receiptno = item.receiptno }, new { onclick = "return confirm('Are you sure to Cancel this Receipt?');" })
        </td>
        
    </tr>
    } 
                   
  
   
</table> 
  

<h4>@ViewBag.msg</h4>
                        </div>          
                        
                    </div>
  
    </div>
    </div>



