@model IEnumerable<ODHDEVELOPERS.Models.plotReglist>
@using ODHDEVELOPERS.Models;
@{
    UsersContext db = new UsersContext();
   
    ViewBag.Title = "PlotRegistry";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int a = 0;
}
<link rel="stylesheet" href="~/Content/jquery-ui.css" />

<script type="text/javascript">
    $(document).ready(function () {
        $("#newbondid").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Admin/AutoCompleteBondAppl",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.newbondid, value: item.name };
                        }))

                    }
                })
            }
        });
    })
</script>


<div class="page-content">

    <div class="container">

        <div class="page-toolbar">


            <div class="page-toolbar-block">
                <div class="page-toolbar-title">Plot Registry</div>
                <div class="page-toolbar-subtitle"></div>
            </div>
            <div class="page-toolbar-block pull-right">
                <div class="widget-info widget-from">
                    <div>
                        <label>@DateTime.Now</label>
                    </div>
                </div>
            </div>
        </div>
        @using (Html.BeginForm("PlotRegistry", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-md-6" style="width: 100%;">
                    <div class="block">
                        <div class="block-content controls">
                            <div class="row-form">
                                <div class="input-group" style="margin-left: 1%; margin-right: 1%;">
                                    <span class="input-group-addon">Enter Customer ID:</span>
                                    <input type="text" id="newbondid" class="form-control" required name="newbondid">
                                </div>
                            </div>

                            <div class="page-toolbar-block pull-right">
                                <div class="widget-info widget-from">

                                    <button id="btnsearch" name="command" type="submit" class="btn btn-primary" value="Search">Search</button>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>}
        @using (Html.BeginForm("PlotRegistry", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            if (Model != null)
            {
                foreach (var item in Model)
                {
                    if (a == 0)
                    {
                                  
            <div class="row">
                <div class="row">


                    <div class="col-md-12">
                        <div class="block">
                            <div class="block-content">
                                <h2><strong>Plot Registry of @item.name</strong></h2>

                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="block">

                        <div class="block-content controls">
                            <div class="row-form">
                                <div class="col-md-9">

                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <label class="width">Customer ID</label></span>
                                        <input type="text" class="form-control"  required  name="bondid" id="nnewbondid" value="@item.newbondid" readonly="true" />
                                    </div>



                                </div>

                            </div>

                            <div class="row-form">

                                <div class="col-md-9">

                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <label class="width">Customer Name</label></span>
                                        <input type="text" class="form-control" name="name" id="name" value="@item.name" readonly="true">
                                    </div>

                                </div>

                            </div>
                            <div class="row-form">
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <label class="width">Pay Amount</label></span>
                                        <input type="text" class="form-control" required  name="amount" id="amount" value="@item.amount" readonly="true" />
                                    </div>

                                </div>
                            </div>
                            <div class="row-form">
                                <div class="col-md-9">

                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <label class="width">Plot No.</label></span>
                                        <input type="text" class="form-control"  required  name="plotno" id="plotno" value="@item.plotno" readonly="true"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row-form">
                                <div class="col-md-9">


                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <label class="width">Block</label></span>
                                        <input type="text" class="form-control" name="block" id="block" value="@item.block" readonly="true"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="block">
                        <div class="block-content controls">

                            <div class="row-form">
                            </div>
                            <div class="row-form">

                                <div class="col-md-9">
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <label class="width">Registry</label></span>
                                            <input type="file" class="form-control" name="registry" onchange="document.getElementById('registry').src = window.URL.createObjectURL(this.files[0])" required="required">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <img src="~/Images/icon/upload_icon.png" style="border-color: #4eb699;" class="img-responsive thumbnail" alt="Registry" width="70" height="70" id="registry" />
                                    </div>
                                </div>
                            </div>
                            <div class="row-form">

                                <div class="col-md-9">
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <label class="width">Receipt</label></span>

                                            <input type="file" class="form-control" name="reciept" id="reciept" onchange="document.getElementById('reciept1').src = window.URL.createObjectURL(this.files[0])" required>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <img src="~/Images/icon/upload_icon.png" style="border-color: #4eb699;" class="img-responsive thumbnail" alt="" width="70" height="70" id="reciept1">
                                    </div>
                                </div>
                            </div>
                            <div class="row-form">
                                <div class="col-md-9">
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <label class="width">Bond</label></span>

                                            <input type="file" class="form-control" name="bond" id="bond" value="" onchange="document.getElementById('bond1').src = window.URL.createObjectURL(this.files[0])" required />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <img src="~/Images/icon/upload_icon.png" style="border-color: #4eb699;" class="img-responsive thumbnail" alt="" width="70" height="70" id="bond1">
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-toolbar-block pull-right">
                    <div class="widget-info widget-from">
                        <button id="submit" name="command" type="submit" class="btn btn-primary" value="submit" formnovalidate="formnovalidate">Submit</button>

                    </div>
                </div>
            </div>
                              }
                          }
                          }
            <p style="color: maroon; margin-left: 15px;"><b>@ViewBag.prmsg</b></p>     
                      }

    </div>
</div>
