@model ODHDEVELOPERS.Models.TDSLF_tab
@using ODHDEVELOPERS.Models;
@{
    UsersContext db = new UsersContext();
    var mr = db.Members.Single(m => m.Id == 1);
    var tr = db.TDSLF_tabs.Single(f => f.Id == 1);
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "SetTdsandLateFine";
}


<div class="page-content">

                <div class="container">

<div class="page-toolbar">
                        
                        <div class="page-toolbar-block">
                            <div class="page-toolbar-title">Set TDS and Late Fine</div>
                            <div class="page-toolbar-subtitle"></div>
                        </div>
                        
                        <div class="page-toolbar-block pull-right">
                           
                        </div>           
                        
                    </div> 

                    <div class="row" style="width:100%">
                        <div class="col-md-6" style="width:100%">
                            
                            <div class="block" style="width:100%">
                               <div class="block-content controls">  

                    
                      
                        
     @using (Html.BeginForm()) {
            
                   <div class="row-form">  
                                   
    <div class="col-md-9">
        <div class="input-group">
       <span class="input-group-addon"><label class="width">TDS(%) With PAN</label> </span>  
        <input type="text" class="form-control"  name="TDS" id="tds" value="@tr.TDS" required/></div>
                                   
   </div>
                        
         </div>
         
         <div class="row-form">  
                                   
    <div class="col-md-9">
        <div class="input-group">
       <span class="input-group-addon"><label class="width">TDS(%) Without PAN</label> </span>  
        <input type="text" class="form-control"  name="NPCTDS" id="NPCTDS" value="@tr.NPCTDS" required/></div>
                                   
   </div>
                        
         </div>
         
                <div class="row-form">  
                                         
    <div class="col-md-9">
        <div class="input-group">
       <span class="input-group-addon"><label class="width"> Late Fine(%)</label> </span>  
        <input type="text" class="form-control"  name="latefine" id="latefine" value="@tr.latefine" required/></div>
                                   
   </div>
                    </div>
         
         
         
           <div class="row-form">  
                                         
    <div class="col-md-9">
        <div class="input-group">
       <span class="input-group-addon"><label class="width">Processing Fee(%)</label> </span>  
        <input type="text" class="form-control"  name="processingfee" id="processingfee" value="@tr.processingfee" required/></div>
                                   
   </div>
                        
         </div>
         
          <div class="row-form">  
                                         
    <div class="col-md-9">
        <div class="input-group">
       <span class="input-group-addon"><label class="width">Member Fee</label> </span>  
        <input type="text" class="form-control"  name="memberfee" id="memberfee" value="@tr.memberfee" required/></div>
                                   
   </div>
                        
         </div>
         
         <div class="row-form">  
                                         
    <div class="col-md-9">
        <div class="input-group">
       <span class="input-group-addon"><label class="width">Set @mr.agentname Form Fee</label> </span>  
        <input type="text" class="form-control"  name="agencyformfee" id="agencyformfee" value="@tr.agencyformfee" required/></div>
                                   
   </div>
                        
         </div>
         
         <div class="row-form">          
         <div class="col-md-9">
        <div class="input-group">
       <span class="input-group-addon"><label class="width">Set @mr.custname Form Fee</label> </span>  
        <input type="text" class="form-control"  name="applicationfee" id="applicationfee" value="@tr.applicationfee" required/>

        </div>                   
   </div>            
         </div>
         
          <div class="row-form">          
         <div class="col-md-9">
        <div class="input-group">
       <span class="input-group-addon"><label class="width">Set A/C Form Fee</label> </span>  
        <input type="text" class="form-control"  name="accountformfee" id="accountformfee" value="@tr.accountformfee" required/>

        </div>                   
   </div>            
         </div>
         
           <div class="row-form">          
         <div class="col-md-9">
        <div class="input-group">
       <span class="input-group-addon"><label class="width">Set A/C Opening Amount</label> </span>  
        <input type="text" class="form-control"  name="accountopeningfee" id="accountopeningfee" value="@tr.accountopeningfee" required/>

        </div>                   
   </div>            
         </div>
            <div class="row-form">          
         <div class="col-md-9">
        <div class="input-group">
       <span class="input-group-addon"><label class="width">Set Revival Fee(Rs.)</label> </span>  
        <input type="text" class="form-control"  name="revivalfee" id="revivalfee" value="@tr.revivalfee" required/>

        </div>                   
   </div>            
         </div>
                 <div class="page-toolbar-block pull-right">
                            <div class="widget-info widget-from">
         <button  type="submit" class="btn btn-primary pull-right"> Set</button>   
                                </div>
                                             </div>
         
     <p style="color:maroon;"><b> @ViewBag.msg</b></p>
     }
                                </div>
                                
     
                                         
                                    </div>
                            </div>
                                        
                   </div> </div> </div>