@model IEnumerable<ODHDEVELOPERS.Models.AdvPaymentTemp>
@using ODHDEVELOPERS.Models
@{
    Layout = "~/Views/Shared/_OperatorLayout.cshtml";
    ViewBag.Title = "Advancepaymentreport";
    UsersContext db = new UsersContext();
    var mr = db.Members.Single(m => m.Id == 1);
    var a = 0;
    Double tpayment = 0,recoverysum=0;

}


<div class="page-content">
         
                <div class="container" id="divid1">
                    <div class="page-toolbar" id="2">
                        
                        <div class="page-toolbar-block">
                            <div class="page-toolbar-title">Advance Payment Report</div>
                            <div class="page-toolbar-subtitle"></div>
                        </div>
                        
                    </div>
 
  @using (@Html.BeginForm()){
                   <div class="row" id="hide">
                        <div class="col-md-6" style="width:100%">
                            
                            <div class="block" >
                               
                                <div class="block-content controls" >
                                    <div class="row-form">
           <div class="input-group" style="margin-left:1%;margin-right:1%;">
                        <span class="input-group-addon"><label class="width">Select Month</label></span>
                         <select class="form-control" id="month" name="month" required>
                                            <option selected>Select </option>
                                                  <option value="1">January</option>
                                                  <option value="2">February</option>
                                                  <option value="3">March</option>
                                                  <option value="4">April</option>
                                                  <option value="5">May</option>
                                                  <option value="6">June</option>
                                                  <option value="7">July</option>
                                                  <option value="8">August</option>
                                                  <option value="9">September</option>
                                                  <option value="10">October</option>
                                                  <option value="11">November</option>
                                                  <option value="12">December</option>
                                                

                                        </select>
                </div>   </div>

                                    <div class="row-form">
           <div class="input-group" style="margin-left:1%;margin-right:1%;">
                        <span class="input-group-addon"><label class="width">Select Year</label></span>
                         <select class="form-control" id="year" name="year" required>
                                            <option selected>Select </option>
                                                  <option>2013 </option>
                                                  <option>2014 </option>
                                                  <option>2015 </option>
                                                  <option>2016 </option>
                                                  <option>2017 </option>
                                                  <option>2018 </option>
                                                  <option>2019 </option>
                                                  <option>2020 </option>
                                                  <option>2021 </option>
                                                  <option>2022 </option>
                                                  
                                                

                                        </select>
                </div>   </div>
                                     

                   <div class="row-form" style="width:100%">
      <div class="col-md-9">
          <button id="submit" class="btn btn-primary pull-right" type="submit">View</button>
     </div>
              </div>


        </div>
        </div>
                             </div>
        </div>
                    }

                  <div id="1">
<table border="1" style="margin-left:1%; margin-right:1px; width:98%; margin-bottom:70px; ">
    @using (Html.BeginForm())
                {
                    foreach (var item in Model)
                    {
                        if (a == 0)
                        {
                            <tr>
                                <th colspan="4" ><b>Advance Payment Report</b></th>
                                <th colspan="5" ><b>Month:@item.monthname</b></th>
                            </tr>
        
    <tr>
        <th style="width:5%;text-align:center;">
           <label id="sn"><b>S.N.</b></label>
            </th>
         <th style="width:10%;text-align:center;">
           <label><b>Name</b></label>
        </th>
         <th style="width:10%;text-align:center;">
           <label><b>@mr.agentname Id</b></label>
        </th>
        
        <th style="width:10%;text-align:center;">
            <label><b>Amount</b></label>
        </th>
         <th style="width:10%;text-align:center;">
            <label><b>Adv. Payment Date</b></label>
        </th>
         <th style="width:10%;text-align:center;">
            <label><b>Recovery Amount</b></label>
        </th>
          <th style="width:10%;text-align:center;">
            <label><b>Recovery Date</b></label>
        </th>
         <th style="width:10%;text-align:center;">
           <label><b>@mr.branchname Code</b></label>
        </th>
        <th style="width:10%;text-align:center;">
           <label><b>Remark</b></label>
        </th>
            
    </tr>
    }
                        a = a + 1;
                      

    <tr style="text-align:center;">
        <td>
            @a
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
          <td>
            @Html.DisplayFor(modelItem => item.newagentid)
        </td>
            <td>
            @Html.DisplayFor(modelItem => item.amount)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
          <td>
            @Html.DisplayFor(modelItem => item.recoveryamount)
        </td>
          <td>
             @Html.DisplayFor(modelItem => item.recoverydate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.branchcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remark)
        </td>
        
        
        
      
         
     
    </tr>
                    
            tpayment = tpayment + Convert.ToDouble(item.amount);
            recoverysum = recoverysum + Convert.ToDouble(item.recoveryamount);
    }
    
    
    
    if(a>0)
    {
        
    <tr style="text-align:center;">
        <td colspan="3" >
            <b>GRAND TOTAL:</b>
        </td>
         
        <td>
           <b>@tpayment</b>
        </td>
        <td></td>
          <td>
           <b>@recoverysum</b>
        </td>
        <td colspan="3">
          
        </td>
        
        
  
    </tr>
    }
                     
    }
    
    
    
   
</table>
        @if(a>0)
        {
         <a href="@Url.Action("PrintAdvancepayment")" target="_blank">Get Report In PDF</a>
        }
              </div> 
                   
         
                    </div>
    </div>



