@model IEnumerable<ODHDEVELOPERS.Models.TempBrokerChainCollection>
    @using ODHDEVELOPERS.Models;
    @{
        Layout = "~/Views/Shared/_BranchLayout.cshtml";
        ViewBag.Title = "BrokerChainCollection";
        UsersContext db = new UsersContext();
        var mr = db.Members.Single(m => m.Id == 1);
        var br = db.Branchtabs.Single(o => o.BranchCode == User.Identity.Name);
        var plan1 = db.Plans.Single(p1 => p1.Plancode == 1);
        var plan2 = db.Plans.Single(p2 => p2.Plancode == 2);
        var plan3 = db.Plans.Single(p3 => p3.Plancode == 3);
        var plan4 = db.Plans.Single(p4 => p4.Plancode == 4);
        var a = 0;
        Double sissum = 0, missum = 0, sum1 = 0, sum2 = 0, sum3 = 0, sum4 = 0, sum5 = 0, sum6 = 0, sum7 = 0, total = 0, gtotal = 0, pppsum = 0, mipsum = 0;

    }


    <script type="text/javascript">
        $(document).ready(function () {
            $("#newagent").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Admin/AutoCompleteAgentid",
                        type: "POST",
                        dataType: "json",
                        data: { term: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.name, value: item.NewAgentId };
                            }))

                        }
                    })
                },
                messages: {
                    noResults: "", results: ""
                }
            });
        })
    </script>

    <div class="container-fluid mt-4 FormContainer">
        <h2 class="text-center mb-4">@mr.agentname Chain Collection</h2>
        <div class="border p-4 rounded shadow formtag">
            @using (Html.BeginForm())
            {
                <!-- Project Year -->
                <div class="mb-3">
                    <label for="year" class="form-label formLabel">Enter @mr.agentname Id:</label>
                    <input type="text" id="newagent" name="newagentid" class="form-control formInput" placeholder="Select @mr.agentname Id" required>
                </div>
                <!-- Project Year -->
                <div class="mb-3">
                    <label for="year" class="form-label formLabel">Start Date:</label>
                    <input type="date" name="sdate" class="form-control formInput" required>
                </div>

                <!-- Project Year -->
                <div class="mb-3">
                    <label for="year" class="form-label formLabel">End Date:</label>
                    <input type="date" name="edate" class="form-control formInput" required>
                </div>
                <!-- Create Button -->
                <div class="text-center d-grid gap-2">
                    <button type="submit" class="btn btn-lg formButtom"><i class="fa fa-search"></i>Search</button>
                </div>
            }
        </div>
            <table class=" mt-3 bg-light">
                @foreach (var item in Model)
                {
                    if (a == 0)
                    {
                        <thead>
                            <tr>
                                <th colspan="4" class="header-row border-0" style="border-radius: 8px 0 0 0;">@mr.branchname Name:@User.Identity.Name</th>
                                <th colspan="4" class="header-row" style="border-radius: 0px;">@mr.agentname Chain Collection</th>
                                <th colspan="5" class="header-row border-0" style="border-radius: 0 8px 0 0;">Dated:@Convert.ToDateTime(DateTime.Now.Date).ToString("dd/MM/yyyy")</th>

                            </tr>
                            <tr>
                                <th colspan="4"><b>@mr.agentname Id:@item.brokercode</b></th>
                                <th colspan="4"> <b>@mr.agentname Name:@item.brokername</b></th>
                                <th colspan="5"> <b>Duration:@Convert.ToDateTime(item.sdate).ToString("dd/MM/yyyy") -@Convert.ToDateTime(item.edate).ToString("dd/MM/yyyy")</b></th>
                            </tr>
                            <tr>
                                <th> <label><b>S.N.</b></label></th>
                                <th><label><b>@mr.agentname Id</b></label></th>
                                <th><label><b>@mr.agentname Name</b></label></th>
                                <th><label><b>Mobile</b></label></th>
                                <th><label><b>Booking Amount</b></label></th>
                                <th><label><b>First </b></label></th>
                                <th><label id="email"><b>Second</b></label></th>
                                <th><label><b>Third</b></label></th>
                                <th><label><b>Fourth</b></label></th>
                                <th><label><b>Fifth</b></label></th>
                                <th><label><b>Sixth </b></label></th>
                                <th><label><b>Seventh</b></label> </th>
                                <th><label><b>Total</b></label></th>
                            </tr>
                        </thead>
                    }
                    a = a + 1;
                    total = Convert.ToDouble(item.tsis) + Convert.ToDouble(item.tMISFresh) + Convert.ToDouble(item.tppp) + Convert.ToDouble(item.tMIP) + Convert.ToDouble(item.tMIS1) + Convert.ToDouble(item.tMIS2) + Convert.ToDouble(item.tMIS3) + Convert.ToDouble(item.tMIS4) + Convert.ToDouble(item.tMIS5) + Convert.ToDouble(item.tMIS6) + Convert.ToDouble(item.tMIS7a);
                    <tbody>
                        <tr>
                            <td>@a</td>
                            <td>@Html.DisplayFor(modelItem => item.newagentid)</td>
                            <td>@Html.DisplayFor(modelItem => item.name)</td>
                            <td>@Html.DisplayFor(modelItem => item.branch)</td>
                            <td>@Html.DisplayFor(modelItem => item.tMISFresh)</td>
                            <td>@Html.DisplayFor(modelItem => item.tMIS1)</td>
                            <td>@Html.DisplayFor(modelItem => item.tMIS2)</td>
                            <td>@Html.DisplayFor(modelItem => item.tMIS3)</td>
                            <td>@Html.DisplayFor(modelItem => item.tMIS4)</td>
                            <td>@Html.DisplayFor(modelItem => item.tMIS5)</td>
                            <td>@Html.DisplayFor(modelItem => item.tMIS6)</td>
                            <td>@Html.DisplayFor(modelItem => item.tMIS7a)</td>
                            <td>@total</td>
                        </tr>
                    </tbody>
                    sissum = sissum + Convert.ToDouble(item.tsis);
                    missum = missum + Convert.ToDouble(item.tMISFresh);
                    pppsum = pppsum + Convert.ToDouble(item.tppp);
                    mipsum = mipsum + Convert.ToDouble(item.tMIP);
                    sum1 = sum1 + Convert.ToDouble(item.tMIS1);
                    sum2 = sum2 + Convert.ToDouble(item.tMIS2);
                    sum3 = sum3 + Convert.ToDouble(item.tMIS3);
                    sum4 = sum4 + Convert.ToDouble(item.tMIS4);
                    sum5 = sum5 + Convert.ToDouble(item.tMIS5);
                    sum6 = sum6 + Convert.ToDouble(item.tMIS6);
                    sum7 = sum7 + Convert.ToDouble(item.tMIS7a);
                    gtotal = gtotal + total;
                }
                @if (a > 0)
                {
                    <tr>
                        <td colspan="4"><b>GRAND TOTAL:</b></td>
                        <td><b>@missum</b></td>
                        <td><b>@sum1</b></td>
                        <td><b>@sum2</b></td>
                        <td><b>@sum3</b></td>
                        <td><b>@sum4</b></td>
                        <td><b>@sum5</b></td>
                        <td><b>@sum6</b></td>
                        <td><b>@sum7</b></td>
                        <td><b>@gtotal</b></td>
                    </tr>
                }
            </table>
        @if (a > 0)
        {
            <div class="text center text-white mt-3">
                <a class="btn btn-lg formButtom" href="@Url.Action("PrintBrokerChainCollection")" target="_blank">Get Report In PDF</a>
            </div>
        }
    </div>









