@model IEnumerable<ODHDEVELOPERS.Models.ExpenseList>
    @using ODHDEVELOPERS.Models;
    @{
        UsersContext db = new UsersContext();
        Layout = "~/Views/Shared/_BranchLayout.cshtml";
        ViewBag.Title = "DailyExpense";
        var a = 0;
        Double sum = 0;
        var br = db.Branchtabs.Single(b => b.BranchCode == User.Identity.Name);
        Double expense = Convert.ToDouble(ViewData["expense"]);

    }
    <div class="container-fluid mt-4 FormContainer" id="divid">
        <h2 class="text-center mb-4">Daily Expense Report</h2>
        <div class="border p-4 rounded shadow formtag" style="margin-top:25px">
            @using (Html.BeginForm())
            {
                <!-- Project Year -->
                <div class="mb-3">
                    <label for="year" class="form-label formLabel">Start Date:</label>
                    <input type="date" id="sdate" class="form-control formInput" required name="sdate">
                </div>

                <!-- Project Year -->
                <div class="mb-3">
                    <label for="year" class="form-label formLabel">End Date:</label>
                    <input type="date" id="edate" class="form-control formInput" required name="edate">
                </div>

                <!-- Create Button -->
                <div class="text-center d-grid gap-2">
                    <button id="submit" name="command" value="Search" class="btn btn-lg formButtom" type="submit">View</button>
                </div>
            }
        </div>
        <table class="bg-white mt-3" id="1">
            @using (Html.BeginForm())
            {
                foreach (var item in Model)
                {

                    if (a == 0)
                    {
                        <thead>
                            <tr>
                                <th colspan="3" class="header-row" style="border-radius: 8px 0 0 0; border: none;"> <label id="dddd"><b>Branch Name: @br.BranchName</b></label></th>
                                <th colspan="2" class="header-row" style="border-radius: 0 0 0 0;">Daily Expense Report</th>
                                <th colspan="3" class="header-row" style="border-radius: 0 8px 0 0; border: none;">Printed: @Convert.ToDateTime(DateTime.Now.Date).ToString("dd/MM/yyyy")</th>
                            </tr>
                            <tr>
                                <th> <label id="sn"><b>S.N.</b></label></th>
                                <th> <label id="date"><b>Date</b></label></th>
                                <th> <label><b>Head</b></label></th>
                                <th><label><b>Remark</b></label></th>
                                <th> <label><b>Opid</b></label> </th>
                                <th><label><b>Paymethod</b></label></th>
                                <th> <label id="Amount"><b>Amount</b></label></th>
                                <th> <label><b>Trans. Id</b></label></th>
                            </tr>
                        </thead>

                    }
                    a = a + 1;
                    <tbody>
                        <tr>
                            <td>@a</td>
                            <td>@Convert.ToDateTime(item.date_time).ToString("dd/MM/yyyy") </td>
                            <td>@Html.DisplayFor(modelItem => item.head) </td>
                            <td>@Html.DisplayFor(modelItem => item.Remark)</td>
                            <td>@item.opid</td>
                            <td>@item.paymethod</td>
                            <td>@Html.DisplayFor(modelItem => item.amount) </td>
                            <td>@item.trans_id </td>
                        </tr>
                    </tbody>
                    sum = sum + Convert.ToDouble(item.amount);
                }
                if (a > 0)
                {
                    <tr><td colspan="5" style="width:80%;text-align:right;"> <label id="toatlction"><b>Grand Total:</b></label></td><td colspan="3" style="width:20%;text-align:center;"><b>@sum</b></td></tr>
                }
            }
        </table>
        @if (a > 0)
        {
            <div class="text-center mt-3">
                <a class="btn btn-lg formButtom text-white" href="@Url.Action("PrintExpanse")" target="_blank">Get Report In PDF</a>
            </div>
        }
    </div>




