@model IEnumerable<ODHDEVELOPERS.Models.Emp_Reg>
@using ODHDEVELOPERS.Models;
@{
    Layout = "~/Views/Shared/_HRLayout.cshtml";
    ViewBag.Title = "EmployeeAtten";
    var a = 0;
    UsersContext db = new UsersContext();
            //var list = db.Emp_attens.ToList();
}


<script type="text/javascript">
    $(document).ready(function () {
        $("#memberid").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/HR/AutoCompletemember_Atten",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.name, value: item.empid };


                        }))

                    }
                })
            }
        }),
        //$("#date1").datepicker();
       
        $("#attendencefrom").removeAttr('readonly');
        $("#attendenceto").removeAttr('readonly');
       
    });
</script>
<script>
    function getvalue()
    {
        var value=$("#att").val();
        if(value=="L")
        {
            $("#attendencefrom").attr('readonly',true);
            $("#attendencefrom").val('empty');
            $("#attendenceto").attr('readonly',true);
            $("#attendenceto").val('empty');
           
            
        }
        else
        {
            $("#attendencefrom").removeAttr('readonly');
            $("#attendenceto").removeAttr('readonly');
          
        }
    }
</script>

<script>
    function blockjobs(dd) {
        debugger;
        var Id = dd;
        var status=0;
        var buttonname = $(".btn").val();
        if (buttonname == "Block") {
            $("#att_").show();
            $("#attendencefrom_").show();
            $("#attendenceto_").show();
            $("#time_").show();
            status = 0;
        }
        if (buttonname == "Unblock") {
            $("#att_").hide();
            $("#attendencefrom_").hide();
            $("#attendenceto_").hide();
            $("#time_").hide();
            status = 1;
        }
        var url = '@Url.Action("block_emp", "HR")';
          
        $.get(url, { status: status, Id: Id }, function data(d) {

            for (var i = 0; i < d.length; i++) {
                
            }

        });
        //var buttonname =$(".abc").val();
        //if(buttonname == "Unblock"){
            
        //}
        //if(buttonname == "Block"){
        //    $(".bc").show();
        //}
    }
</script>
@*<script>
    function newfun() {
        debugger;
        var buttonname =$(".abc").val();
        if(buttonname == "Unblock"){
            $(".aa").hide();
        }
        if(buttonname == "Block"){
            $(".bc").show();
        }
    }
</script>*@
<div class="page-content">

    <div class="container">

        <div class="page-toolbar">

            <div class="page-toolbar-block">
                <div class="page-toolbar-title">Employee Attendance</div>
                <div class="page-toolbar-subtitle"></div>
            </div>



        </div>
        <form method="post" action="~/HR/EmployeeAtten">
            <div class="row">



                <div class="col-md-6" style="width: 100%">

                    <div class="block">

                        <div class="block-content controls">

                            <div class="row-form">

                                <div class="col-md-9">
                                    @*<div class="input-group">
                                           <span class="input-group-addon">
                                               <label class="width">Enter Member id</label></span>
                                           <input type="text" class="form-control" name="memberid" id="memberid"><span class="input-group-addon"><label class="width" style="width:15px;"><span class="fa fa-search"></span></label></span> 
                                       </div>*@
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <label class="width">Select Date</label></span>
                                        <input type="date" class="form-control" name="date1" id="date1"><span class="input-group-addon"><label class="width" style="width: 15px;"><span class="fa fa-calender-alt"></span></label></span>
                                    </div>
                                </div>
                            </div>


                            <div class="page-toolbar-block pull-right">
                                <div class="widget-info widget-from">

                                    <button value="Search" type="submit" name="command" class="btn btn-primary"><i class="fa fa-search"></i>Search</button>

                                </div>
                            </div>



                        </div>


                    </div>
                </div>


            </div>


            <div id="1">

                @if (Model != null)
                {
                     
                    <table border="1" style="margin-left: 1%; margin-right: 1px; width: 98%; margin-bottom: 30px;">
                        @using (Html.BeginForm())
                        {
                            foreach (var item in Model)
                            {
                                if (a == 0)
                                {
                         
                            <tr>
                                <th style="width: 8%; text-align: center;">
                                    <label id="sn"><b>S.N.</b></label>
                                </th>
                                <th style="width: 12%; text-align: center;">
                                    <label id="empid"><b>Emp ID</b></label>
                                </th>
                                <th style="width: 15%; text-align: center;">
                                    <label id="name"><b>Name</b></label>
                                </th>

                                <th style="width: 10%; text-align: center;">
                                    <label><b>Action</b></label>
                                </th>
                                <th style="width: 10%; text-align: center;">
                                    <label><b>Timming(From)</b></label>
                                </th>
                                <th style="width: 10%; text-align: center;">
                                    <label><b>Timming(To)</b></label>
                                </th>

                                <th style="width: 17%; text-align: center;">
                                    <label><b>Attendencedate</b></label>
                                </th>
                                <th style="width: 10%; text-align: center;">
                                    <label><b>Status</b></label>
                                </th>
                                <th style="width: 10%; text-align: center;">
                                    <label><b>Action</b></label>
                                </th>
                            </tr>
        
                                }
                                a = a + 1;


                            <tr style="text-align: center;">
                                <td>
                                    @a

                                </td>
                                <td>
                                    <span id="db">@Html.DisplayFor(modelItem => item.empid)</span>
                                </td>
                                <td>
                                    <span id="ab">@Html.DisplayFor(modelItem => item.name)</span>
                                </td>


                              
                                    @if (item.status == 0)
                                    {
                                        <td colspan="4"></td>
                                    <td style="color: red;">Inactive</td>
                                                                                 <td><a href="@Url.Action("block_emp", "HR", new { Id = @item.Id, status = @item.status })"class="btn btn-primary"   onclick="blockjobs(this.id)">Unblock</a></td>
                                    }
                                    else
                                    {
                                                                        <td>

                                    <select id="att_@a" name="att"  onchange="getvalue()">
                                        <option selected="selected" value="A">Absent</option>
                                        <option value="P">Present</option>
                                        <option value="A">Week Off</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="time" name="From"  id="attendencefrom_@a">
                                </td>
                                <td>
                                    <input type="time" name="To"  id="attendenceto_@a">
                                </td>
                                <td>
                                    <input type="text" name="Attendencedate1"  id="time_@a" value="@TempData["date1"]" readonly="true">
                                </td>
                                    <td style="color: green;">Active</td>
                                           <td><a href="@Url.Action("block_emp", "HR", new { Id = @item.Id, status = @item.status })"class="btn btn-primary"  onclick="blockjobs(this.id)">Block</a></td>
                                    }

                                
                            </tr>
                            }
                        }

                    </table>
                    <button value="submit" type="submit" name="command" class="btn btn-primary pull-right" onclick="gedrecord(id)">Enter</button>
                }
            </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#gedrecord(id)').click(function () {
            var empid = $('#db').val(empid);
            var name = $('#ab').val(name);
            var atten = $('#att').val(atten);
            var From = $('#endtime').val(From);
            var To = $('#end').val(To);
            var Attendencedate = $('#Time').val(Attendencedate);
 //var Data = 'empid=' + empid & 'name=' + name & 'atten=' + atten & 'From=' + From & 'To=' + To & 'Attendencedate=' + Attendencedate;
            $.ajax({
                type: "Get",
                Url: "/attandance/HR",
                Data:{employeid:empid,attend:atten,Namee:name,Fromm:From,Too:To,Attendence:Attendencedate},
                success: function (ht) {
                    $('#gedrecord(id)').val('data sent');
                }
            });
            return false;
        });
    });
    </script>
<script type="text/javascript">

    $('#gedrecord(id)').click(function () {
        var empid = $('#db').val(empid);
        var name = $('#ab').val(name);
        var atten = $('#att').val(atten);
        var From = $('#endtime').val(From);
        var To = $('#end').val(To);
        var Attendencedate = $('#Time').val(Attendencedate);
                $.ajax({
                    url: "/HR/AutoCompletemember_Atten",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.name, value: item.empid };


                        }))

                    }
              
            }
        });


    
</script>

